
/* ---------------------------------------------- */
/* The buttons that are underlined when active */

.button-selection-underlined {
    --underline-color: #1da1f2;
    --color-background-active: #34373a;
    --text-active-color: white;
    --text-inactive-color: grey;

    border: none;
    background-color: transparent;
    color: var(--text-inactive-color);
    font-size: 1em;
    font-weight: bold;
    width: 25%;
    height: 100%;
    transition: background-color 0.2s ease-in-out;
}

.button-selection-underlined:hover {
    background-color: var(--color-background-active);
}

.button-selection-underlined.active {
    color: var(--text-active-color);
}

.button-selection-underlined.active::after {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    background-color: var(--underline-color);
    margin: 0 auto;
    position: relative;
    top: 10px;
}

/* ---------------------------------------------- */

.button-page-change {
    border: none;
    background-color: transparent;
    font-size: 1em;
    font-weight: bold;
    height: 100%;
    width: 100%;
    max-height: 100px;

    transition: background-color 0.2s ease-in-out;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    gap: 10px;

    border-radius: 12px;
}

.button-page-change > img {
    height: 60%;
    width: auto;
}

.button-page-change > span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.button-page-change:hover {
    background-color: #34373a;
}
