@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');      

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.connexion-panel {
    position: relative;
    
    display: grid; 
    grid-template-columns: 0.33fr 0.33fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "icon-user info-user action-user";

    padding: 10px;

    width: 100%;
    height: 15vh;

    border: solid 1px white;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.icon-user {
    grid-area: icon-user;
    width: 100%;
    height: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-user > img {
    display: block;
    object-fit: cover;
    width: 60%;
    height: auto;
    border-radius: 50%;
}

.info-user {
    grid-area: info-user;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.action-user {
    grid-area: action-user;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.connected-username {
    font-weight: bold;
    font-size: 1em;
}

.connected-user-ref {
    font-size: 0.8em;
}

.action-button > img {
    height: 30px;
    width: 30px;
}

.action-button {
    border: none;
    background-color: transparent;
}

.info-user > a {
    color: white;
    text-decoration: underline;
}