div.trends {
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;

    padding: 20px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    
    gap: 20px;

}

div.trends > h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: white;

    width: 100%;
    font-family: 'Roboto', sans-serif;
}

div.trends > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
    border-radius: 4px;
}

div.trends > div:hover {
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

div.trends > div > a {
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

div.trends > div > span {
    color: grey;
    font-size: 0.8em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}